* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: #000000;
    text-align: center;
  }
  
  .container {
    height: 72vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  
  .game {
    height: 70vmin;
    width: 70vmin;
    display: flex;
    flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 22vmin;
  width: 22vmin;
  border-radius: 1rem;
  border: 2px solid white;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 11vmin;
  color: #ffff14;
  background-color: #000000;
}

#reset-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #ffff14;
  color: #000000;
  border-radius: 1rem;
  border: none;
}

#new-btn {
  padding: 1rem;
  font-size: 1.25rem;
  background-color: #ffff14;
  color: #000000;
  border-radius: 1rem;
  border: none;
  margin-bottom: 400px;
}


#msg {
  color: #ffffc7;
  font-size: 6vmin;
  padding-bottom: 80px;
}

.msg-container {
  height: 200vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: rem;
}

.hide {
  display: none;
}
.Tic{
  color: #ffff14;
  padding-top: 20px;
}
